body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 350px;
    height: 400px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    background-image: linear-gradient(90deg,#ae0ee9,#2e19a7);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input{
    border: solid thin #ae0ee9;
    border-radius:2px;
    outline:none;
    margin:15px;
    padding:10px 2px;
}
button{
    color:#fff;
    margin-top: 5px;
    border:none;
    outline:none;
    border-radius: 28px;
    padding:10px 20px;
    background-image: linear-gradient(90deg,#ae0ee9,#2e19a7);
}
p{
text-align:center;
  font-weight:bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: Arial;
  background-image: linear-gradient(90deg,#ae0ee9,#2e19a7);
  background-repeat: no-repeat;
  background-size:100%;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width:480px){
    html{
        font-size: 10px;
    }
}